html, body {
    text-align: center;
}

body {
    margin: auto;
}

header {
    height: 100px;
    width: 100%;
}

footer {
    height: 100px;
    width: 100%;
    margin-top: 10%;
}

img {
    float: left;
    width: 35%;
    padding: 25px;
}

aside {
    padding: 25px;
}


section {
    margin-top: 10%;
}


ul {
    padding-left: 0;
}

ul li {
    display: inline-block;
}